@model Nostralogia2.Models.LocalPasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_SMRegMaster.cshtml";
}

@using (Html.BeginForm("SaveChangedPassword", " ChangePassword"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
        <div class="content_top" ></div>  
     

        <div class="Nostra_Main" >
            <div class="Nostra_Row">
   
            </div>
            <div class="Nostra_Container_70perc" id="dvMain">
                <fieldset>
                    <legend>Change Password Form</legend>
                     <div class="Nostra_Row">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.OldPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.OldPassword)               
                        </div>

                    </div>
                    <div class="Nostra_Row">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.NewPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.NewPassword)               
                        </div>

                    </div>
                    <div class="Nostra_Row">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.ConfirmPassword)               
                        </div>

                    </div>
                    <div class="Nostra_Row"> 
   
                            <input type="submit" value="Change password" class="Nostra_Button margin_left_first"/>
                       
                    </div>
                </fieldset>

            </div>

        </div>
    
    
   <div class="content_bot" ></div>
}
