@model Nostralogia2._1.Models.Entities.EntityEmailModel
<div class ="SMEntity_Entity">
     <div class="SMEntity_Row" id="dvErrorMessage">
        <div class="SMEntity_ErrorMessage SMEntity_mleft150" >
            @Model.ErrorMessage
        </div>
    </div>
<div class="SMEntity_Row">
    <div class="SMEntity_Entity_lbl" >
        @Model.EntityLabel
    </div>
    <div class="SMEntity_txt_data" id ="idEntity">@Model.EntityData.Trim()</div>
    
    <div class="SMEntity_input" id="@Model.IdDivCtrl">
        <input type="text" id="@Model.IdCtrl" size="20" />
    </div>
    <div class="SMEntity_link" id="@Model.idimgEdit">
        <img src ="/Images/Entities/edit.png"  height="40" width="40" data-toggle="tooltip" data-placement="top" title="Edit"/>
    </div>
    <div class="SMEntity_link" id="@Model.idimgCancel">
        <img src ="/Images/Entities/out.png"  height="40" width="40" data-toggle="tooltip" data-placement="top" title="Exit"/>
    </div>
    <input type="hidden" id="@Model.idHiddenValue" value="@Model.EntityData.Trim()"/>
</div>
</div>
<script src="~/JS/EntitiesLib.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var entityObj = new EmailEntity('@Model.IsEnabledForEdit', '@Model.EntityIndex', '@Model.IdCtrl');

        $('#' + entityObj.ID_ImgEdit).on("click", function () {
            entityObj.OnEditClicked();
        });
        $('#' + entityObj.ID_ImgCancel).on("click", function () {
            entityObj.OnCancelClicked();
        });
    });// document ready

</script>